.title {
    height: 93px;
}

.title2 {
    height: 70px;
}

.title-top{
    height: 25px;
}

.title-background {
    background-color: #fafafa;
}

.title-border {
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid #f4f6fa;
}

.title-font1 {
    text-align: left;
    height: 42px;
    line-height: 42px;
    font-weight: 500;
    font-size: 28px;
}

.title-font2 {
    margin-top: 6px;
    color: #797979;
    height: 14px;
    line-height: 14px;
    font-weight: 400;
    font-size: 14px;
}